/* navbar style ---start---- */
a.nav-link {
    text-transform: capitalize;
    padding: 15px !important;
    font-size: 16px;
    color: #fff !important;
  }
  
  img.img-fluid.logoimg {
    width: 280px;
  }
  ul.navbar-nav.mx-auto.mb-2.mb-lg-0 {
    margin-left: 200px !important;
  }
  nav#navbar {
    background-image: linear-gradient(#113f71, #1f72b0);
  }
  /* navbar style ---end---- */
  
  /* ---------------------------------- */
  
  /* Home Page style ---start---- */
  #herorow {
    padding: 180px 0px !important;
  }
  #homepage {
    background-image: url("/imgages/UCP-web.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }
  /* Home Page style ---end---- */